<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Dashboard</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Include Bootstrap CSS and JS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="dist/css/adminlte.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">

    </head>

    <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-dark">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                </ul>
            
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                    <li class="nav-item">
                        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                        </a>
                        <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                                </button>
                            </div>
                            </div>
                        </form>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                    <img src="dist/img/user.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                    <a href="#" class="d-block"><%= user.username %></a>
                    </div>
                </div>
            
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Events
                            <i class="fas fa-angle-left right"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link event-list">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Events</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link create-event">
                            <i class="far fa-circle nav-icon"></i>
                            <p>New Event</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">
                        <p class="text">Logout</p>
                        </a>
                    </li>
                    </ul>
                </nav>
                </div>
            </aside>
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
                </div>
            
                <!-- Main content -->
                <section class="content">
                <div class="container-fluid">            
                    <div class="row">
                    <div class="col-md-12">

                        <div class="card" id="eventListContent">
                            <div class="card-header">
                            <h5 class="card-title">Event List</h5>
            
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                                </button>
                            </div>
                            </div>
        
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table event-table m-0">
                                            <thead>
                                                <tr>
                                                    <!-- <th>Sl No</th> -->
                                                    <th>Event Date</th>
                                                    <th>Image</th>
                                                    <th>Session</th>
                                                    <th>Venue</th>                                        
                                                    <th> </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% userEvents.forEach((event, index) => { %>
                                                    <tr>
                                                        <!-- <td><a href="#"><%= index + 1 %></a></td> -->
                                                        <td class="eventdate">
                                                            <span class="date">
                                                            <%= new Date(event.eventdate).toLocaleString('en-IN', {day: 'numeric'}) %>
                                                            </span>
                                                            <p><%= new Date(event.eventdate).toLocaleString('en-IN', { month: 'long'}) %></p>
                                                        </td>
                                                        <td><img src="<%= event.eventimg %>" alt="Event Image"></td>
                                                        <td>
                                                            <div class="event-wrap">
                                                                <h3><%= event.eventname %></h3>
                                                                <div class="meta">
                                                                    <div class="organizers">
                                                                        <i class="nav-icon fa fa-user"></i> <%= user.username %> 
                                                                    </div>
                                                                    <div class="time">
                                                                        <span><%= new Date(event.eventdate).toLocaleString('en-IN', { hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><%= event.eventplace %></td>
                                                        <td><a href="#" class="btn btn-primary event-details" data-toggle="modal" data-target="#eventDetailsModal" data-index="<%= index %>">Read More</a></td>
                                                        <td>
                                                            <a href="#" class="btn btn-warning edit-event" data-index="<%= index %>" data-toggle="modal" data-target="#editEventModal"><i class="fas fa-edit"></i></a>                    
                                                            <a href="#" class="btn btn-danger delete-event" data-index="<%= index %>"><i class="fas fa-trash-alt"></i></a>
                                                        </td>

                                                        <!-- <td><a href="#" class="btn btn-primary event-details" data-index="<%= index %>">Read More</a></td> -->
                                                        <!-- <td><%= event.eventname %></td> -->
                                                        <!-- <td><%= event.eventdescription %></td> -->
                                                        <!-- <td><%= new Date(event.eventdate).toLocaleString('en-IN', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></td> -->
                                                        <!-- <td><%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(event.eventprice) %></td> -->
                                                        <!-- <td><img src="<%= event.eventimg %>" alt="Event Image" style="width: 50px; height: auto;"></td> -->
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            <!-- /.row -->
                            </div>
                        </div><!-- /.card -->

                        <div class="card" id="createEvent" style="display: none;">
                        <div class="card-header">
                            <h5 class="card-title">Create New Event</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="admin-signup-form">
                                <h1 class="text-center">Create Event</h1>

                                <p id="errorContainer" class="alert"></p>
                                
                                <form method="post" id="eventCreateForm"  enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Eventname" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="eventdescription" name="eventdescription" placeholder="Event Description" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="eventplace">Select State:</label> -->
                                        <select class="form-control" id="eventplace" name="eventplace" required>
                                            <option value="" disabled selected>Select State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="datetime-local" class="form-control" id="eventdate" name="eventdate" placeholder="Event Date" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₹</span> <!-- Rupee sign -->
                                            </div>
                                            <input type="text" class="form-control" id="eventprice" name="eventprice" placeholder="Event Price" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control" id="eventimg" name="eventimg" placeholder="Event image" accept="image/*" style="height: auto;" required>
                                    </div>
                                    
                                    <div class="text-center">
                                        <button type="submit" id="submitBtn" class="btn btn-primary">Create Event</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                            <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        </div><!-- /.card -->

                    </div> <!-- /.col -->
                    </div><!-- /.row -->
                </div><!--/. container-fluid -->
                </section>
            </div>
            <!-- /.content-wrapper -->
            <!--event details Modal -->
            <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="eventDetailsModalLabel">Event Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div id="eventDetailsContent">
                            <!-- event details will display here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Event Modal -->
            <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel">Edit Event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="editEventContent">
                                <!-- Edit event form will be displayed here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
        </div>
        
        <!-- ./wrapper -->
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="plugins/jquery/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!-- Bootstrap -->
        <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="dist/js/adminlte.js"></script>
    
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get references to content areas
            const createEvent = document.getElementById('createEvent');
            const eventListContent = document.getElementById('eventListContent');

            // Function to show/hide content based on selected item
            function showContent(contentToShow) {
            createEvent.style.display = 'none';
            eventListContent.style.display = 'none';

            if (contentToShow) {
                contentToShow.style.display = 'block';
            }
            }

            // Attach click event listeners to sidebar items

            document.querySelector('.create-event').addEventListener('click', function () {
            showContent(createEvent);
            });

            document.querySelector('.event-list').addEventListener('click', function () {
            showContent(eventListContent);
            });

            // Initialize content based on the default or initial selection
            // For example, show admin list by default
            showContent(eventListContent);
        });
        </script>
        <script>
        $(document).ready(function() {
            $('#submitBtn').on('click', function() {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Check for required fields
            if (!$('#eventname').val() || !$('#eventdescription').val() || !$('#eventplace').val() || !$('#eventdate').val() || !$('#eventprice').val() || !$('#eventimg')[0].files[0]){
                $('#errorContainer').html('All fields are required. Please fill them out.').addClass('d-block');
                // Hide error message after 3 seconds
                setTimeout(function () {
                $('#errorContainer').removeClass('d-block').html('');
                }, 3000);

                return;
            }

            // Gather form data
            // var formData = $('#eventCreateForm').serialize();
            var formData = new FormData($('#eventCreateForm')[0]);

             // Log the form data
            //  console.log('Form Data:');
            for (let pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
        
                // Send form data using AJAX
                $.ajax({
                    type: 'POST',
                    url: '/dashboard/create-event',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        // Check the response from the server
                        if (response.success) {
                            // Redirect or handle success
                            window.location.href = '/dashboard';
                        } else {
                            // Display errors
                            $('#errorContainer').html(response.error).addClass('d-block');
                            // Hide error message after 3 seconds
                            setTimeout(function () {
                            $('#errorContainer').removeClass('d-block').html('');
                            }, 3000);
                        }
                    },
                    error: function(error) {
                        console.error('Error during event creation:', error);
                        $('#errorContainer').html('An error occurred during event creation. Please try again later.').addClass('d-block');
                        // Hide error message after 3 seconds
                        setTimeout(function () {
                            $('#errorContainer').removeClass('d-block').html('');
                        }, 3000);
                    }
                });
            });
        });

        </script>
        <!-- modal event detail content dynamically -->
        <script type="text/javascript">
            var userEvents = <%- JSON.stringify(userEvents) %>;
            $(document).ready(function () {
            $('.event-details').on('click', function () {
                var index = $(this).data('index');
                // console.log(index);
                // console.log(userEvents[index]);

                var event = userEvents[index];

                // Set modal content dynamically
                $('#eventDetailsModalLabel').text('Event Details');
                $('#eventDetailsContent').html(`
                <h3>${event.eventname}</h3>
                <p>${event.eventdescription}</p>
                <p>Event Date: ${new Date(event.eventdate).toLocaleString('en-IN')}</p>
                <p><i class="fas fa-map-marker-alt"> </i> ${event.eventplace}</p>
                <p>Price: ₹${new Intl.NumberFormat('en-IN').format(event.eventprice)}</p>
                <img src="${event.eventimg}" alt="Event Image" style="max-width: 100%;width: -webkit-fill-available;">
                `);
        
                // Show the modal
                $('#eventDetailsModal').modal('show');
            });
            });
        </script>
         <!-- edit event modal -->
        <script type="text/javascript">
            $(document).ready(function () {
                // Array of places for the dropdown
                var places = [
                    "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat",
                    "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra",
                    "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu",
                    "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal"
                ];

                $('.edit-event').on('click', function () {
                    var index = $(this).data('index');
                    var event = userEvents[index];
                    // console.log(event.eventid); 
                    // console.log(index);
                    // Set edit event form content dynamically
                    $('#editEventModalLabel').text('Edit Event');
                    $('#editEventContent').html(`
                        <form method="post" id="editEventForm" enctype="multipart/form-data">
                            <!-- Use the existing event object to populate the form fields -->
                            <input type="hidden" id="editEventId" name="eventid" value="${event.eventid}">

                            <div class="form-group">
                                <input type="text" class="form-control" id="editEventName" name="eventname" placeholder="Eventname" value="${event.eventname}" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="editEventDescription" name="eventdescription" placeholder="Event Description" required>${event.eventdescription}</textarea>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="editEventPlace" name="eventplace" required>
                                    <option value="" disabled>Select State</option>
                                    ${places.map(place => `<option value="${place}" ${event.eventplace === place ? 'selected' : ''}>${place}</option>`).join('')}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="datetime-local" class="form-control" id="editEventDate" name="eventdate" required>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">₹</span>
                                    </div>
                                    <input type="text" class="form-control" id="editEventPrice" name="eventprice" placeholder="Event Price" value="${event.eventprice}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="editEventImage" name="eventimg" value="${event.eventimg}" readonly>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="editEventImageFile" name="eventimg" accept="image/*">
                                    <label class="custom-file-label" for="editEventImageFile">Choose new image</label>
                                </div>
                                <img src="${event.eventimg}" alt="Current Event Image" style="max-width: 20%;">
                            </div>

                            <div class="text-center">
                                <button type="button" id="saveEditBtn" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    `);
                    
                    var eventDate = new Date(event.eventdate);
                    var localDate = new Date(eventDate.getTime() - eventDate.getTimezoneOffset() * 60000);
                    var formattedDate = localDate.toISOString().slice(0, 16); // Format: YYYY-MM-DDTHH:mm
                    // console.log(localDate); // Local date and time
                    // console.log(formattedDate); // Formatted date and time
                    document.getElementById('editEventDate').value = formattedDate;
                    // Show the edit event modal
                    $('#editEventModal').modal('show');
                });
                
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#editEventContent').on('click', '#saveEditBtn', function () {
               
                    // event.preventDefault();
                    console.log('hello');
                    // Extract the edited data from the form and send it to the server
                    var formData = new FormData($('#editEventForm')[0]);
                    console.log('Form Data:',formData);
                    for (let pair of formData.entries()) {
                        console.log(pair[0] + ': ' + pair[1]);
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/dashboard/edit-event',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                // Reload the page or update the event in the table without refreshing
                                window.location.reload(); // or update the event in the table using JavaScript
                            } else {
                                // Display errors
                                alert(response.error);
                            }
                        },
                        error: function (error) {
                            console.error('Error during event editing:', error);
                            // Handle errors when updating the event
                        }
                    });
                });
            });
        </script>
        <!-- script for delete event -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('.delete-event').on('click', function () {
                    var index = $(this).data('index');
                    var event = userEvents[index];

                    console.log ('eventId : ',event.eventid);
        
                    // Use AJAX to send a request to delete the event
                    $.ajax({
                        type: 'POST',
                        url: '/dashboard/delete-event',
                        data: { eventId: event.eventid }, // Send the event ID to the server
                        success: function (response) {
                            if (response.success) {
                                // Reload the page or remove the event from the table without refreshing
                                window.location.reload(); // or remove the event from the table using JavaScript
                            } else {
                                // Display errors
                                // Handle errors when deleting the event
                            }
                        },
                        error: function (error) {
                            console.error('Error during event deletion:', error);
                            alert('You have no access to delete event.');
                        }
                    });
                });
            });
        </script>
        
        
        
    </body>
</html>